@font-face {
  font-family: 'CeraPRO';
  src: url('../fonts/subset-CeraPRO-Light.eot');
  src: url('../fonts/subset-CeraPRO-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-CeraPRO-Light.woff2') format('woff2'),
  url('../fonts/subset-CeraPRO-Light.woff') format('woff'),
  url('../fonts/subset-CeraPRO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPRO';
  src: url('../fonts/subset-CeraPRO-Bold.eot');
  src: url('../fonts/subset-CeraPRO-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-CeraPRO-Bold.woff2') format('woff2'),
  url('../fonts/subset-CeraPRO-Bold.woff') format('woff'),
  url('../fonts/subset-CeraPRO-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPRO';
  src: url('../fonts/subset-CeraPRO-Regular.eot');
  src: url('../fonts/subset-CeraPRO-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-CeraPRO-Regular.woff2') format('woff2'),
  url('../fonts/subset-CeraPRO-Regular.woff') format('woff'),
  url('../fonts/subset-CeraPRO-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: $grey;
  font-family: 'CeraPRO', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p + p {
  margin-top: 1rem;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

a {
  color: $grey;
  text-decoration: none;
}

a:hover {
  color: $orange;
}

ol li {
  margin-left: 1rem;
  padding-left: 0.5rem;
}

input,
button {
  -webkit-appearance: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

.home .wrapper {
  max-width: 100%;
  padding: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .wrapper {
    padding: 0 3rem;
  }
}
