.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 90px 0 60px;
}

.home .footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.footer__title,
.footer__link {
  display: inline-block;
  font-size: 0.8rem;
}

.footer__title {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.cdu-logo {
  display: block;
  box-shadow: 0 0 5px $light-grey;
  max-height: 2rem;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .footer__title,
  .footer__link {
    font-size: 1rem;
  }

  .footer__title {
    margin-right: 1rem;
  }

  .cdu-logo {
    max-height: 4rem;
  }
}
