.header {
  background-color: #fff;
  margin: 1rem 0 2rem;
}

.home .header {
  margin-top: 0;
}

.header__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header__logo {
  max-width: 12rem;
  vertical-align: middle;
}

.menu__toggle {
  cursor: pointer;
  padding: 0.2rem 0 0.2rem 0.5rem;
}

.menu {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.5s ease-out;
}

.menu.expanded {
  max-height: 200px;
}

.menu__links,
.menu__social {
  margin-top: 1rem;
  text-align: center;
}

.menu__link,
.menu__social a {
  border: 1px solid $light-grey;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.3rem 0.8rem;

  &:last-child {
    margin: 0;
  }
}

.menu__link.active {
  color: $orange;
}

.menu__social a {
  font-size: 1.2rem;
}

.menu .twitter:hover {
  color: $twitter;
}

.menu .facebook:hover {
  color: $facebook;
}

.menu .instagram:hover {
  color: $instagram;
}

@media screen and (min-width: 660px) {
  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 4rem;
  }

  .header__title {
    margin: 0;
  }

  .header__logo {
    max-width: 15rem;
  }


  .menu__toggle {
    display: none;
  }

  .menu {
    display: block;
    max-height: 100%;
  }

  .menu__links,
  .menu__social {
    display: inline-block;
    margin: 0;
  }

  .menu__link,
  .menu__social a {
    border: 0;
    padding: 0;
  }

  .menu__link,
  .menu__link:last-child {
    margin-right: 2rem;
  }

  .menu__social a {
    margin-right: 0.5rem;

    &:last-child {
      margin: 0;
    }
  }
}
