.home__hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-width: 100%;
  padding: 1rem;
  position: relative;
  width: 100vw;
}

.home__down-arrow {
  align-items: center;
  background-color: $grey;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  height: 1rem;
  left: 50%;
  padding: 0 1rem;
  position: absolute;
  transform: translateX(-50%);

  &:hover {
    background-color: #f6a979;
  }

  p {
    font-size: 1.3rem;
    margin-right: .5rem;
    padding-left: 1rem;
  }

  .fa-chevron-down {
    padding-right: 1rem;
  }
}

.home__slider {
  flex: 1;
  height: auto;
}

.home__subscribe {
  background-color: $orange;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}

.subscribe__toggle {
  display: none;
}

.subscribe__header {
  margin-bottom: 1rem;
}

.subscribe__headline {
  font-weight: bold;
}

.subscribe__subline {
  color: $light-orange;
}

.home__form {
  margin: 1rem 0;

  input {
    background-color: $light-orange;
    color: #fff;
  }

  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
  }

  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
  }

  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity:  1;
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }

  input,
  button[type=submit] {
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  input.zip {
    width: 3rem;
  }

  .fa-envelope-o {
    color: $light-orange;
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  button[type=submit] {
    background-color: #fff;
    color: $orange;

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}

.home__whatsapp-number {
  font-size: 1rem;
  color: $light-orange;
  margin-bottom: 1rem;

  .fa-whatsapp {
    display: inline-block;
    margin-right: 0.5rem;
    text-align: center;
  }
}

.home__contact-link {
  color: $light-orange;
  font-size: 0.8rem;
  font-weight: 300;

  &:hover {
    color: #fff;
  }
}

.home__wrapper .juicer-feed {
  margin: 4rem auto !important;
  max-width: 1200px;
  padding: 0 1rem;

  h1.referral {
    font-size: 1.5rem;
    text-align: center;

  }

  h1.referral a {
    display: block;
    font-size: 1rem;
  }
}

@media screen and (min-width: 400px) {
  .home__form {
    input,
    button[type=submit] {
      font-size: 0.8rem;
    }

    button[type=submit] {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }

    input.zip {
      width: 4rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .home__hero {
    padding: 2rem;
  }

  .home__down-arrow {
    font-size: 1rem;
    height: 2rem;
    padding: 0 1rem;
  }

  .subscribe__headline {
    font-size: 2rem;
  }

  .home__form {
    input,
    button[type=submit] {
      font-size: 1rem;
    }

    input.zip {
      width: 5rem;
    }

    .fa-envelope-o {
      font-size: 2rem;
    }
  }

  .home__whatsapp-number {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .home__hero {
    padding: 3rem;
  }

  .home__down-arrow {
    font-size: 2rem;
    height: 3rem;
    padding: 0 1.5rem;
  }

  .home__subscribe {
    bottom: 0;
    box-shadow: 0 0 10px $grey;
    max-width: 310px;
    opacity: 0;
    position: fixed;
    right: 20vw;
    transform: translate(50%, 100%);
    transition: all 0.5s linear;
    z-index: 9999;
  }

  .home__subscribe.visible {
    opacity: 1;
    transform: translate(50%, 0);
  }

  .subscribe__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .subscribe__toggle {
    color: $light-orange;
    cursor: pointer;
    display: block;
    padding: 0 0 0 0.5rem;
    font-weight: bold;
    font-size: 1rem;
  }

  .subscribe__headline {
    font-size: 1.5rem;
  }

  .subcribe__content {
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.3s linear;
  }

  .subcribe__content.expanded {
    max-height: 400px;
  }

  .home__form {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    input,
    button[type=submit] {
      font-size: 0.6rem;
    }

    input.zip {
      margin: 0 0.2rem;
      width: 4rem;
    }

    .fa-envelope-o {
      font-size: 1rem;
    }
  }

  .home__whatsapp-number {
    font-size: 1rem;
  }
}
