.presse__wrapper {
  margin: 0 auto 2rem;
  max-width: 1140px;
}

.image__wrapper--1,
.image__wrapper--2,
.image__wrapper--3,
.image__wrapper--4,
.image__wrapper--5,
.image__wrapper--6,
.presse__resume {
  margin-bottom: 2rem;
}

.presse__image {
  display: block;
  height: auto;
  width: 100%;
}

.presse__resume {
  height: auto;
  width: 100%;
}

.resume__box {
  background-color: $grey;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;

  p {
    margin-bottom: 1rem;
  }

  i {
    display: inline-block;
    font-size: 2rem;
  }
}

.resume__headline {
  font-weight: bold;
  margin-bottom: 3rem;

  span {
    font-weight: 300;
  }
}

.presse__disclaimer {
  font-size: 0.6rem;
  text-align: center;
}

.presse__download-links {
  margin-top: 1rem;

  a {
    color: $orange;
    display: block;
    font-size: 1rem;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.presse__contact {
  border: 1px solid $light-grey;
  margin: 0 auto;
  max-width: 20rem;
  padding: 1rem;
}

.contact__headline,
.contact__subline,
.contact__phone,
.contact__email {
  font-weight: bold;
  text-align: center;
}

.contact__headline,
.contact__subline {
  margin-bottom: 1rem;
}

.contact__headline {
  color: $orange;
  font-size: 1.5rem;
}

.presse__image {
  margin-bottom: 1rem;
}

.contact__email {
  a {
    color: $orange;
  }

  a:hover {
    text-decoration: underline;
  }
}

.press-link {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .presse__wrapper {
    display: flex;
    margin-bottom: 5rem;
  }

  .image__wrapper--1,
  .image__wrapper--2,
  .image__wrapper--3,
  .image__wrapper--4,
  .image__wrapper--5,
  .image__wrapper--6,
  .presse__resume {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }

  .image__wrapper--1,
  .presse__resume {
    flex: 0.66666667;
  }

  .image__wrapper--2,
  .image__wrapper--3,
  .image__wrapper--4,
  .image__wrapper--5,
  .image__wrapper--6 {
    flex: 1.5;
  }

  .resume__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    i {
      font-size: 4rem;
    }
  }
}
